Write different types of triangles....

In [1]:
for i in range(1,6):
    print(*"*"*i)

*
* *
* * *
* * * *
* * * * *

In [4]:
for j in range(5,0,-1):
    print(*"*"*j)

* * * * *
* * * *
* * *
* *
*

In [14]:
for k in range(1,6):
    print((str("* "*k)).center(10))

    *
   * *
  * * *
 * * * *
* * * * *

In [25]:
for x in range(1,6):
    print(" "*(6-x),*range(1,x+1))

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [26]:
num = int(input(""))
space = (2 * num) - 2
for i in range(num) :
    print(" " * space + (i+1) * "* ")
    space -= 2

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [27]:
num = 5
for i in range(num) :
  for j in range(1, i+1):
    print(j, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4